name: Build test

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/workflows/common/setup-pnpm.yml

      - name: Build packages
        run: pnpm run build
